/* 共通スタイルは外に書く */

.sideber__wrapper {
    padding: 20px;
    flex-basis: 25%;
    background-color: #0ff;
}

.sideber__title {
    margin-bottom: 30px;
}

.sideber__text {
    font-size: 13px;
}

.sideberText__container {
    margin-bottom: 30px;
}

.sideberText__container:last-child {
    margin: 0;
}

.sideber__wrapper span {
    color: red;
}

@media screen and (min-width: 960px) {

    /* pc用スタイル */
    .main__container {
        display: flex;
    }
}

@media screen and (max-width: 959px) {
    /* sp用スタイル */

}